<html>
        <head>
            <title>{{title}}</title>
        </head>
    <body>
        <hd>{{title}}</hd>
        <img src="{{url_for('static', filename='images/class.jpg')}}" width=100>
        <h4>     Our classroom for programming class is taught 
            by my dad who is a programmer like I said. He 
            enjoys teaching and torchering us because he is
            dank.
                 We also have Tyee Middles School which the students
                 there are pretty toxic but there are good students. 
                 The teachers there are awesome and I learn a lot 
                 of stuff.
        </h4>
        <a href="{{url_for('home')}}">Home</a>
    </body>
</html>
