<html>
        <head>
            <title>{{title}}</title>
        </head>
    <body>
        <hd>{{title}}</hd>
        <img src="{{url_for('static', filename='images/me.jpg')}}" width=100>
        <h4>     My name is Lewis and I am a 11 year old student that goes to 
            Tyee Middle School. I live in Bellevue, Washington and I love Turtles.
            Turtles have always been my favorite animal and I have many plush turtles
            which are huge. Some are bigger than me but most are smaller.
                 I live with my parents who were both born in Korea. My dad is Jason
            Huh who is a Programmer Architech and my mom is Kelly An who works
            for Law-form. My brother is 12 years old and he is the most dankest and
            thiccest one there is out there. He steals my turtles a lot.
        </h4>
        <a href="{{url_for('hobby')}}">My hobbies</a>
        <a href="{{url_for('classs')}}">My classes</a>
    </body>
</html>
